label#product{
    margin-bottom: 20px;
    border: 1px dashed #ddd;
    background-size:cover;
    cursor: pointer;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}
label#product input{
    display: none;
}

label#product.productImg{
    border:0;
}

label#product.productImg img{
    display: none ;
}